DATABASE_TARGET=auto
DATABASE_URL=
DATABASE_PUBLIC_URL=
PORT=3001
DATABASE_SSL=true
JWT_SECRET=replace-this-with-a-long-random-secret
JWT_EXPIRES_IN=604800
CORS_ORIGINS=https://tu-frontend.vercel.app,http://localhost:3000
APP_PUBLIC_URL=https://tu-backend.up.railway.app
